# **Boston Housing Exploratory Data Analysis**

This notebook contains an analysis of the ***Boston Housing*** dataset.

## **Dataset Description**

The dataset contains the following columns:
- `CRIM`: per capita crime rate by town
- `ZN`: proportion of residential land zoned for lots over 25,000 sq. ft.
- `INDUS`: proportion of non-retail business acres per town
- `CHAS`: Charles River dummy variable (1 if tract bounds river; 0 otherwise)
- `NOX`: nitrogen oxides concentration (parts per 10 million)
- `RM`: average number of rooms per dwelling
- `AGE`: proportion of owner-occupied units built prior to 1940
- `DIS`: weighted mean of distances to five Boston employment centers
- `RAD`: index of accessibility to radial highways
- `TAX`: full-value property tax rate per $10,000
- `PTRATIO`: pupil-teacher ratio by town
- `B`: 1000(Bk - 0.63)^2 where Bk is the proportion of Black residents by town
- `LSTAT`: percentage of lower status of the population
- `MEDV`: median value of owner-occupied homes in $1000s

## **Data Import and Preprocessing**

First, we need to import the necessary libraries and load the dataset.

In [11]:
## IMPORTS ##
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset 
df = pd.read_csv('data/boston_housing.csv')
df.head()

Empty DataFrame
Columns: [CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT, MEDV]
Index: []

## **Data Analysis**

### **Descriptive Statistics**

We can start by looking at some descriptive statistics of the dataset

In [12]:
print(np.shape(df))
df.describe()

(0, 14)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unique,0,0,0,0,0,0,0,0,0,0,0,0,0,0
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN